# Client-side (Public)
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0242466730.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="gen-lang-client-0242466730"
VITE_FIREBASE_STORAGE_BUCKET="gen-lang-client-0242466730.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_FIREBASE_DATABASE_ID="(default)"
VITE_MIDTRANS_CLIENT_KEY=""
VITE_MIDTRANS_IS_PRODUCTION="false"

# Server-side (Secret)
FIREBASE_PROJECT_ID="gen-lang-client-0242466730"
GCLOUD_PROJECT="gen-lang-client-0242466730"
GOOGLE_CLOUD_PROJECT="gen-lang-client-0242466730"
FIREBASE_SERVICE_ACCOUNT_KEY="{}" # JSON string of service account or use default if in GCP

MIDTRANS_SERVER_KEY=""
MIDTRANS_IS_PRODUCTION="false"

APIGAMES_MERCHANT_ID=""
APIGAMES_SECRET=""

TOKOVOUCHER_MEMBER_CODE=""
TOKOVOUCHER_SECRET=""

# Authentication
OWNER_EMAIL="chokerbayu@gmail.com"
VITE_OWNER_EMAIL="chokerbayu@gmail.com"

# Cloudinary (Media Library Storage)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
